asgiref==3.5.2; python_version >= "3.8"
django-environ==0.9.0; python_version >= "3.4" and python_version < "4"
django-ninja==0.19.1; python_version >= "3.6"
django==4.0.6; python_version >= "3.8"
orjson==3.7.8; python_version >= "3.7"
pillow==9.2.0; python_version >= "3.7"
psycopg2-binary==2.9.3; python_version >= "3.6"
pydantic==1.9.1; python_full_version >= "3.6.1" and python_version >= "3.6"
python-magic==0.4.27; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
sqlparse==0.4.2; python_version >= "3.8"
typing-extensions==4.3.0; python_full_version >= "3.6.1" and python_version >= "3.7"
tzdata==2022.1; sys_platform == "win32" and python_version >= "3.8"
whitenoise==6.2.0; python_version >= "3.7"
